/* general settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /general settings */
/* parametri container */
.container-city {
 width: 95vw;
 height: 90vh;
 background-size: cover;
 box-shadow: 2px 3px #888888;
 margin: auto;
 margin-top: 10px;
 margin-bottom: 10px;
}
.layover {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
/* /parametri container */
/* bg immagini */
#roma{
  background-image: url(../img/roma.jpg);
}
#napoli{
  background-image: url(../img/napoli.jpg);
}
#milano{
  background-image: url(../img/milano.jpg);
}
/* /bg immagini */

/* parametri per il titolo Immagine */
h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 90px;
  color: white;
  font-family: 'Cairo', sans-serif;
  text-transform: capitalize;
  text-shadow: 2px 3px black;
}
/* /parametri per il titolo Immagine */
